/* Button Styles */
.vexxis-button {
    background-color: #0366d6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vexxis-button:hover {
    background-color: #0056b3;
}
